<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.halzhang.android.apps.startupnews">

    <supports-screens
        android:anyDensity="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Gmail permission -->
    <uses-permission android:name="com.google.android.gm.permission.AUTO_SEND" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="uiMode|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.phone.BrowseActivity"
            android:theme="@style/AppPreferenceTheme"
            android:configChanges="uiMode|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize" />
        <activity
            android:name=".ui.DiscussActivity"
            android:theme="@style/AppTheme"
            android:configChanges="uiMode|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize"
            android:label="@string/title_discuss" />
        <!--
             <activity
            android:name=".ui.SubmitActivity"
            android:configChanges="uiMode|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:label="@string/title_shareto_startupnews"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="text/plain"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        -->
        <activity
            android:name=".ui.AboutActivity"
            android:theme="@style/AppPreferenceTheme"
            android:configChanges="uiMode|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize"
            android:label="@string/title_settings" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppPreferenceTheme"
            android:configChanges="uiMode|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize"
            android:label="@string/title_login"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>